.color-primary{
    color:$color-primary;
}
.color-second{
    color:$color-second;
}
.color-primaryalt{
    color:$color-primaryalt;
}
.color-secondalt{
    color:$color-secondalt;
}
.color-third{
    color:$color-third;
}
.color-primary-bg{
    background:$color-primary;
}
.color-second-bg{
    background:$color-second;
}
.color-primaryalt-bg{
    background:$color-primaryalt;
}
.color-secondalt-bg{
    background:$color-secondalt;
}
.color-third-bg{
    background:$color-third;
}