.font-Lora{
    font-family: $font-lora
}
.font-Namun{
    font-family: $font-Namun
}
.font-Serif{
    font-family: $font-Serif
}
.font-Roboto{
    font-family: $font-Roboto
}
.font-Abril{
    font-family: $font-Abril;
}
.font-size-20{
    font-size: 20px;
}
.font-size-12{
    font-size: 12px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-24{
    font-size: 24px;
}
.font-size-18{
    font-size: 18px;
}