$font-lora:"Lora",cursive;
$font-Namun:"Namum Gothic",cursive;
$font-Serif:"DM Serif Display",cursive;
$font-Roboto:"Roboto",cursive;
$font-Abril:"Abril Fatface",cursive;
$color-primary:	#be6b5b;
$color-second:	#45818e;
$color-primaryalt:	#dc8168;
$color-secondalt: #76afa4;
$color-third: #e5d0ba;


